Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 modes:
     - Dev
          * Dev Server(перезапуск сервера и странички на изменение кода),
          * SoursMaps(нужен для чтения Scss, разделения кода на модули),
          * Eslint,
          * Not Minified JS & Css, (важно понимать, как код выглядит)
     - Prod
     Minified Code (уменьшаем код, чтобы приложение быстрее грузилось)

Git - разбираемся с маком, разбираемся с конфликтами и настройками
